@import url(vs.css);

@media only screen and (max-device-width: 768px) {
    /* For mobile phones: */
    body {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0px auto;
        border: #00a2ff 0px solid;
        width: 85%;
        white-space: normal;
        overflow-wrap: break-word;
        background: #fafafa;
        border-radius: 5px;
        text-align: start;
      }

      nav ul, footer ul {
        font-size: 1.2em;
        font-family: 'Times New Roman', 'Helvetica', 'Arial', 'Sans-Serif';
        padding: 0px;
        list-style: none;
        font-weight: bold;
        position: relative;
        background: #fafafa;
        white-space: normal;
      }

      p {
        font-size: 1em; line-height: 1; color:rgba(0,0,0,.8);
        align-items:center;
        font-family: 'Times New Roman';
      }
      
      ul {
        font-size: 1em; line-height: 1; color:rgba(0,0,0,.8);
        align-items:center;
        display:inline-block;
        font-family: 'Times New Roman';
        margin-block-start: 0.5em;
      }
      
      h1, h2, h3, h4 {font-size: 1.2em; font-family: 'Times New Roman';}
      h4 { 
          font-size: 1.2em; /* Heading */
          font-family: 'Times New Roman'; 
          margin-bottom: 0px;
          white-space: normal;
          overflow-wrap: break-word;
      }
      h5 { 
          font-size: 1.2em; /* Heading */
          font-family: 'Times New Roman'; 
          margin: 0px;
          white-space: normal;
          overflow-wrap: break-word;
      }

      posts {
        list-style-type: none;
        margin-bottom: 1.2em;
    }
    
    .posts li {
        line-height: 1.2em;
    }
    
    .posts span {
        color: #000000;
        font-family: monospace;
        font-size: 100%;
    }


    .column {
        float: left;
        width: 100%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    img
    {
        max-width: 100%;
        min-width: 200px;
        height: auto;
    }
}

@media screen 
and (min-device-width : 768px)  {
	/* Styles */
    body {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0px auto;
        border: #00a2ff 0px solid;
        width: 60%;
        white-space: normal;
        overflow-wrap: break-word;
        background: #fafafa;
        border-radius: 5px;
        text-align: start;
      }
    
      nav ul, footer ul {
        font-size: 2em;
        font-family: 'Times New Roman', 'Helvetica', 'Arial', 'Sans-Serif';
        padding: 0px;
        list-style: none;
        font-weight: bold;
        position: relative;
        background: #fafafa;
        white-space: normal;
      }

      p {
        font-size: 1.4em; line-height: 1; color:rgba(0,0,0,.8);
        align-items:center;
        font-family: 'Times New Roman';
      }
      
      /* The link spacing is because of this */
      ul {
        font-size: 1.4em; line-height: 1; color:rgba(0,0,0,.8);
        align-items:center;
        display:inline-block;
        font-family: 'Times New Roman';
        margin-block-start: 0.5em;
      }
      
      h1, h2, h3, h4 {font-size: 1.2em; font-family: 'Times New Roman';}
      h4 { 
          font-size: 1.5em; /* Heading */
          font-family: 'Times New Roman'; 
          margin: 0px;
          white-space: normal;
          overflow-wrap: break-word;
      }
      h5 { 
          font-size: 1.7em; /* Heading */
          font-family: 'Times New Roman'; 
          margin: 0px;
          white-space: normal;
          overflow-wrap: break-word;
      }

      posts {
        list-style-type: string;
        margin: 0px;
    }
    
    .posts li {
        line-height: 1.2em;
    }
    
    .posts span {
        color: #000000;
        font-family: monospace;
        font-size: 1em;
    }


    .column {
        float: left;
        width: 50%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
    }

    img
    {
        max-width: 100%;
        min-width: 200px;
        height: auto;
    }
}

a {
  text-decoration: none;
  color: #00aa;
  transition: all 0.2s;
  margin: 0px;
}
a:hover {
  color: #00a;
  text-decoration: underline;
  margin: 0px;
}

c {
    text-decoration: none;
    /* color: #00aa; */
    /* transition: all 0.2s; */
}



/* nav ul, footer ul {
  font-size: 2em;
  font-family: 'Times New Roman', 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  position: relative;
  background: #fafafa;
  white-space: normal;
} */

nav ul li, footer ul li {
    font-size: 100%; 
    display: inline; 
    margin-right: 30px;
    white-space: normal;
}

footer { 
    border-top: 2px solid #1a1a1a; 
    font-size: 1em; 
}


/*Misc and Poetry*/
ul.misc {
    list-style-type: none;
    margin-bottom: 0.5em;
}

/* ul.misc li { */
    /* line-height: 1.3em; */
/* } */

ul.misc span {
    color: #1a1a1a;
    font-family: monospace;
    font-size: 100%;
}

pre {
    /* white-space: pre-line; */
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
    overflow-x:scroll;
    margin: 0px;
}    
