<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% feed_meta %}
  </head>

  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/poetry">Poetry</a></li>
<li><a href="/feed.xml">RSS</a></li>
</ul>
    </nav>
<post class="container">

  {{ content }}

</post>

  <footer>
   <ul>
   <li><a href="mailto:prasunk3@gmail.com">Mail</a></li>
   <li><a href="https://github.com/TestSubjector">GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>