<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% feed_meta %}
  </head>
  <body>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/misc">Misc</a></li>
        <li><a href="/about">About Me</a></li>
        </ul>
    </nav>
    <hr>
    <post class="container">
      {{ content }}
    </post>
    <footer>
       <ul>
       <li><a href="mailto:prasunk3@gmail.com">Mail</a></li>
       <li><a href="https://github.com/TestSubjector">GitHub</a></li>
       <li><a href="/files/CV_KumarPrasun.pdf">CV</a></li>
       <li><a href="/feed.xml">RSS</a></li>
       </ul>
    </footer>
  </body>
</html>