---
layout: default
---
{% include mathjax.html %}
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>


<!-- Begin Article
================================================== -->


<post class="post">
  {{ content }}
</post>

<div class="container">
	<div class="row">

			{% if page.image %}<img class="featured-image img-fluid" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">

            <br></br>
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{page.previous.url | absolute_url}}"> Previous Post &laquo;  {{page.previous.title}} </a>
            {% endif %}
            <br></br>
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{page.next.url | absolute_url}}"> {{page.next.title}} &raquo; Next Post </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->
            <script src="https://utteranc.es/client.js"
                repo="TestSubjector/testsubjector.github.io"
                issue-term="pathname"
                label="comments"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
            <!-- Begin Comments
            ================================================== -->
            <!-- <div class="just-comments"
            data-allowguests="true"
            data-apikey="9fe825ce-9df7-4d9d-9e08-9981e8951128">
            </div> -->
            <!--End Comments
            ================================================== -->
	</div>
	<!-- End Post -->

</div>
<!-- End Article
================================================== -->
