---
layout: default
---
{% include mathjax.html %}
<h5>{{ page.title }}</h5>
<p class="meta">{{ page.date|date_to_string}}</p>
<!-- Begin Article
================================================== -->
<post class="post">
  {{ content }}
</post>
<footer>
<div class="container">
	<div class="row">
			{% if page.image %}<img class="featured-image img-fluid" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                <br>
            </div>
    </div>
    <div class="row">
        <div class="col">
            {% if page.previous.url %}
            <a href="{{page.previous.url | absolute_url}}"> Previous Post &laquo;  {{page.previous.title}} </a>
            {% endif %}
        </div>
        <div class="col">
            {% if page.next.url %}
            <a href="{{page.next.url | absolute_url}}"> Next Post &raquo; {{page.next.title}} </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="clearfix"></div>
        <!-- End Categories -->
        <script src="https://utteranc.es/client.js"
            repo="TestSubjector/testsubjector.github.io"
            issue-term="pathname"
            label="comments"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
        <!-- Begin Comments
        ================================================== -->
        <!-- <div class="just-comments"
        data-allowguests="true"
        data-apikey="9fe825ce-9df7-4d9d-9e08-9981e8951128">
        </div> -->
        <!--End Comments
        ================================================== -->
	</div>
	<!-- End Post -->
</div>
</footer>
<!-- End Article
================================================== -->
